<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nuni.ldh1">

    <uses-permission android:name="android.permission.NFC" />
    <uses-sdk android:minSdkVersion="10"/>
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Nfc"
            android:label="@string/title_activity_nfc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Acelerometro"
            android:label="@string/title_activity_acelerometro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Podometro"
            android:label="@string/title_activity_podometro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Giroscopio"
            android:label="@string/title_activity_giroscopio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Barometro"
            android:label="@string/title_activity_barometro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Humedad"
            android:label="@string/title_activity_humedad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Magnometro"
            android:label="@string/title_activity_magnometro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Proximidad"
            android:label="@string/title_activity_proximidad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Termometro"
            android:label="@string/title_activity_termometro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Luz"
            android:label="@string/title_activity_luz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pulsometro"
            android:label="@string/title_activity_pulsometro"
            android:theme="@style/AppTheme.NoActionBar" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
